
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


body {	
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    font-weight: 400;    
	background: #fff;
	color: #333333;	
}

a, button {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

a,
a:hover {
    text-decoration: none;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

label {
    margin-bottom: 0;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {   
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);   
}


/* start header area */

.header-area {
    background-color: #f0fff0;
}

.navbar .logo {
    width: 200px;
}

.navbar .btn-sign {
    background-color: #21b573;
    padding: 12px 28px;
}

.nav-item a {
    padding: 0px 34px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #000;
}

 .btn-sign {
    padding: 12px 28px;
    background-color: #21b573;
    border-radius: 40px;
    transition: 0.5s ease-in-out;
   
}

.btn-sign:hover {
    background-color: #0875f7;
}

.header-ctn {
    padding-top: 79px;
    padding-bottom: 73px;
}

.header-lf h3 {
    color: #FD511A;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.header-lf h1 {
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin:10px 0 19px;
}


.header-lf .h-span {
    font-size: 48px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #21B573;
}

.header-lf p {
    color: #6C6B6B;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 14px;
    line-height: 40px;
}

.header-lf .btn-sign {
    padding:12px 36px;
}
/* end header area */




/* start main area */


.cards {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 105px;
    padding-top: 52px;
    padding-bottom: 49px;
    background-color: #f5fffa;
    transition: 0.5s ease-in-out;
}

.cards:hover {
    transform: scale(.9);
}

.cards .card-img {
    width: 66px;
}

.cards h2 {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    margin: 22px 0;
    
}

.cards p {
 
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.card-bg {
    background-color: #fff;
    box-shadow: -2px 2px 30px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 2px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 30px -4px rgba(0,0,0,0.75);
}

.course-item {
    background-color: #fff;
    box-shadow: -2px 2px 30px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 2px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 30px -4px rgba(0,0,0,0.75);
    padding: 24px 20px 31px 19px;
}

.course-item h2 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 19px;
    margin-bottom: 3px;
}

.course-item p {
    margin-bottom: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.course-btn {
    padding: 8px 28px;
    margin-bottom: 34px;
}

.course-date img {
    margin-right: 6px;
    margin-top: -3px;
}

.testimonial-area {
    margin-top: 38px;

}

.testimonial-area .course-btn{
    display: block;
    width: 140px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.testimonial-img {
    width: 120px;
}


.testimonial-area h3 {
    margin-top: 77px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 21px;

}


.testimonial-ctn {
    width: 57%;
    margin-left: auto;
    margin-right: auto;
}

.testi-p p {
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}



/* end main area *
/


/* start footer area */


.footer-area {
    margin-top: 77px;
    background-color: #282531;
    padding-top: 55px;

}

.footer-item .logo-ft {
    width: 200px;
    margin-bottom: 49px;
    margin-top: -50px;
}
.footer-item p {
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.footer-item h2 {
    color: #fff;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-item ul li {
    margin-bottom: 10px;
}

.footer-item ul li a {
 color: #fff;
 font-size: 16px;
 font-weight: 400;
}

.copy-right  {
    margin-top: 76px;
    padding-bottom: 27px;
    color: #CDCDCD;
}

/* end footer area */


/* start course page */

.all-coursearea {
    margin-bottom: 276px;
}
.course-header {
    background-color: #fff;
    margin-bottom: 54px;
}

.all-coursearea .all-title {
    margin-bottom: 52px;
}

.all-coursearea .row {
    margin-bottom: 20px;
}

.popup-course{
    background-color: #fff;
    box-shadow: -2px 2px 30px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 2px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 30px -4px rgba(0,0,0,0.75);
    padding: 24px 20px 30px 23px;
}

.course-left img {
    width: 70px;
}

.cross-icon img {
    width: 24px;
}

/* start course page */